@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-archivo {
  font-family: var(--font-archivo);
}

.font-fraunces {
  font-family: var(--font-fraunces);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-noto-naskh-arabic);
}

.bg-pattern{
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgb(243, 244, 246) 2px, rgb(243, 244, 246) 4px);
}
 

.grid-image {
  width: fit-content;
  object-fit: cover;
}


/* ::view-transition-old(grid-image) {
  animation: slideOut 800ms ease forwards;
}

::view-transition-new(grid-image) {
  animation: slideIn 800ms ease forwards;
}


@keyframes slideOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(-100px, 0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
} */

::view-transition-old(image-*),
::view-transition-new(image-*) {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(.4,0,.2,1);
}
