@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-archivo {
  font-family: var(--font-archivo);
}





body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-noto-naskh-arabic);
}

.bg-pattern {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgb(243, 244, 246) 2px, rgb(243, 244, 246) 4px);
}


.grid-image {
  width: fit-content;
  object-fit: cover;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::view-transition-group(*) {
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.logoLoader {
  animation: bounce 1s ease-in-out 0s infinite alternate forwards;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.searchBtnIcon{
  fill: hsl(226.15deg 12.04% 57.65%);
  width: 1em;
  height: 1em;
}